<form>
  <div class="mb-3">
    <label for="nombreInput" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombreInput" aria-describedby="nombreHelp" required>
    <div id="nombreHelp" class="form-text"></div>
  </div>

  <div class="mb-3">
    <label for="apellidoInput" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="apellidoInput" aria-describedby="apellidoHelp" required>
    <div id="apellidoHelp" class="form-text"></div>
  </div>

  <div class="mb-3">
    <label for="fechaNacimientoInput" class="form-label">Fecha de Nacimiento</label>
    <input type="date" class="form-control" id="fechaNacimientoInput" aria-describedby="fechaNacimientoHelp" required>
    <div id="fechaNacimientoHelp" class="form-text"></div>
  </div>

  <div class="mb-3">
    <label for="tipoDocumentoInput" class="form-label">Tipo de Documento</label>
    <input type="text" class="form-control" id="tipoDocumentoInput" aria-describedby="tipoDocumentoHelp" required>
    <div id="tipoDocumentoHelp" class="form-text">.</div>
  </div>

  <div class="mb-3">
    <label for="numeroDocumentoInput" class="form-label">Número de Documento</label>
    <input type="text" class="form-control" id="numeroDocumentoInput" aria-describedby="numeroDocumentoHelp" required>
    <div id="numeroDocumentoHelp" class="form-text"></div>
  </div>

 
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
